@font-face {
  font-family: "Caveat";
  src: url("/Caveat-Regular.woff") format("woff");
}

.container {
  max-width: 600px;
  margin: 100px auto 40px;
}
.container h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.container li {
  padding: 10px;
  cursor: pointer;
}

.main {
  margin-top: 10vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
header .pizza {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}

header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 24px;
}

.title h1 {
  font-family: "Caveat";
}
.titleHeading {
  cursor: pointer;
}

/* lists */
li span.active::before {
  content: ">";
  position: relative;
  left: -6px;
  transform: scale(0.8, 1);
  display: inline-block;
}

/* pages */
.home h2 {
  font-size: 2em;
  margin-bottom: 30px;
}
.home.container,
.order.container {
  text-align: center;
  max-width: 800px;
}
.home button {
  color: white;
  padding: 15px 30px;
  font-size: 1.6em;
  border: 3px solid white;
  margin: 30px 20px;
}
.order p {
  margin: 20px auto;
}

.orderHeading {
  margin-bottom: 25px;
}
